.action-view {
  display flex
  flex-wrap wrap
  // transform scale(0.8)
  transform-origin left center
  .block {
    flex 0 0 50%
    height 300px
    .todo-list {
      padding 50px
      .todo {
        font-size 12px
      }
    }
  }
}